* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	margin: 0 auto;
	max-width: 400px;
	scroll-behavior: smooth;
	font-family: "Poppins";
	color: #7b5b28;
}

body {
	background: #f5ede0;
	margin: 25px;
}

h1 {
	margin: 20px 0;
	text-align: center;
}

input {
	color: #7b5b28;
	font-size: 1rem;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 2px solid #efe2cd;
	border-radius: 5px;
}

#main-container {
	display: flex;
	justify-content: space-between;
}

button {
	width: 100px;
	padding: 5px;
	background: whitesmoke;
	color: #7b5b28;
	font-weight: bold;
	border: 2px solid #efe2cd;
	border-radius: 5px;
}

button:hover {
	background: #7b5b28;
	color: whitesmoke;
}

section {
	background: #efe2cd;
	margin-top: 20px;
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}

h2 {
	text-align: center;
}

ul {
	background: #efe2cd;

	list-style: none;
	border-radius: 5px;
}

ul label {
	font-weight: bold;
	text-align: center;
	align-items: center;
}

ul div {
	text-align: center;
	font-weight: bold;
	text-decoration: line-through;
}

li {
	margin-top: 0;
	padding: 0;
}

li a {
	word-break: break-all;
	color: #7b5b28;
}
